{% extends "main.html" %}

{% block title %} Inicio {% endblock %}

{% block head %} 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/icon.png') }}" >

{% endblock %}


<body >
   
    
{% block content %}
    <div class="title">
        <h1 class="display-4" align="center"> Welcome to Chicago Crime Visualization </h1>
    </div>

        <div id="text">
            Preprocesamiento del dataset
        </div>

        <!-- show image from static/img with 'name' variable from jinja2 -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="{{ url_for('static',filename='img/'+name) }}" class="img-fluid" alt="Responsive image">

                </div>
            </div>
        </div>
{% endblock %}



</body>

</html>